.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.Clock {
  height: 60;
  padding: 15;
  background-color: "darkslateblue";
}
.Clock text {
  color: "#fff";
  font-size: 23px;
  text-align: "center";
}
